[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
